################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bytz.Collections.Dispatch/.vs/Bytz.Collections.Dispatch
